<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Taskboard</title>
  <base href="<%= baseURL %>" />
  <%- defineContent('style') %>
  <%- defineContent('script') %>
</head>

<body>
  <%- include('../partials/header') %>
  
  <div>
    <%- body %>
  </div>

  <%- include('../partials/footer') %>
</body>

</html>

